*{
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}